﻿
@{
    ViewBag.Title = "Information";
}
@model List<WebApplication2.Models.User>
<h2>User information: </h2>
    @foreach (var instance in @Model)
    {
        <div class="userBlock">
            <div class="userField">
                <div class="name">@instance.FirstName @instance.LastName</div>
                <div class="date">@instance.DateOfRegister</div>
            </div>
            <div class="userField">@instance.Location</div>
            <div class="userField">@instance.School</div>
        </div>    
    }